<div
  class="hero"
  *ngIf="heroInfo"
  [ngClass]="
    heroInfo.backgroundImage.fullPageWidth ? 'fullPageWidth' : 'noFullPageWidth'
  "
  [style.--background-image]="'url(' + heroInfo.backgroundImage.url + ')'"
  [style.--background-image-position]="heroInfo.backgroundImage.position"
  [style.--background-image-size]="heroInfo.backgroundImage.size"
>
  <div
    class="hero__caption-container"
    [ngClass]="
      heroInfo.fullPageWidth ? 'fullContentWidth' : 'noFullContentWidth'
    "
  >
    <div
      class="hero__caption"
      [ngClass]="heroInfo.contentPosition === 'left' ? 'left' : 'right'"
    >
      <h2>{{ heroInfo.title }}</h2>
      <p>
        {{ heroInfo.description }}
      </p>
      <button>Click me</button>
    </div>
  </div>
</div>
