<div class="hero">
  <div class="hero__caption-container">
    <div class="hero__caption">
      <h2>Få gode råd om valg af det rigtige værktøj</h2>
      <span
        ><p>
          Om du har brug for hjælp til at vælge det rigtige værktøj eller et
          godt råd til en svær opgave, så er vi klar til at stille vores viden
          til rådighed for dig, så du får det helt rigtige udstyr til din
          opgave.
        </p></span
      >
      <button>SE VORES PRODUKTER</button>
    </div>
  </div>
</div>
